.card {
    border-radius: .3rem;
    padding: 1rem;
    transition: box-shadow .2s;
    background-color: $clr-primaryLight;
    /* box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .5); */
    box-shadow:
  0px 0.3px 0.5px rgba(0, 0, 0, 0.053),
  0px 0.7px 1.3px rgba(0, 0, 0, 0.077),
  0px 1.3px 2.4px rgba(0, 0, 0, 0.095),
  0px 2.2px 4.2px rgba(0, 0, 0, 0.113),
  0px 4.2px 7.9px rgba(0, 0, 0, 0.137),
  0px 10px 19px rgba(0, 0, 0, 0.19)
;

}