@import 'reset';
@import 'vars';
@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'footer';

:root {
    font-size: 16px;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
#root {
    position: absolute;
    height: 100%;
    width: 100%;
}
.App {
    position: relative;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    height: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
}
h3 {
    font-size: 1.4em;
    padding-block: 1rem;
    font-weight: bold;
    color: $clr-secondary;
}
.main {
    color: $clr-secondary;
    padding: 1rem;
    background-color: $clr-primary;
    overflow: auto;
    .todayCard {
        position: relative;
        overflow: hidden;
        .weatherIcon {
            position: absolute;
            right: 0;
            top: 0;
            height:100%;
            width:min-content;
            aspect-ratio: 1;
        }
    }
}

.upcomingContainer {
    display:grid;
    gap: 1rem;
    @media screen and (min-width: 480px) {
        grid-template-columns: 1fr 1fr;
        
    }
}
.upcoming {
    height: 100%;
    display: grid;
    grid-template-columns: auto min-content;
    grid-auto-rows:min-content ;

    &__data {
        h4 {
            font-size: 1.1em;
            font-weight: bold;
        }
        p:last-child {
            font-weight:lighter;
        }
    }
    &__actions {
        position: relative;
        padding-left: .5rem;
        &::after {
            position: absolute;
            content:'';
            width: 2px;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $clr-secondary;
        }
    }
}